<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" src="/img/logo 1.png" alt="">
                <h2>Talk to stranger</h2>
                <div class="online-status">5000+ online now</div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque doloribus quos est veritatis ipsam
                aliquam non minima, optio porro temporibus molestias dicta debitis saepe molestiae et laboriosam
                deserunt enim assumenda?

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae, ad accusantium esse voluptate
                facilis fuga alias quibusdam, dolore itaque, exercitationem tenetur optio fugit corporis! Facilis
                incidunt consectetur sequi non itaque! In maxime suscipit quibusdam! Vel voluptate fugiat omnis
                blanditiis ipsam? Aliquid sequi impedit aliquam consequuntur, nemo explicabo facilis consequatur minus
                quaerat doloremque corrupti sit maiores fugit suscipit possimus ipsa quis, rem, quia beatae? Molestiae
                magnam expedita voluptatibus labore voluptate!
            </p>
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt impedit doloremque vitae fugit,
                molestiae aliquid repellendus debitis dolorem aliquam amet neque distinctio ut quia non temporibus
                cumque, blanditiis illo facilis. Dolorem, quam. Rerum doloremque perspiciatis tenetur error numquam hic
                quasi pariatur magni nam sint repudiandae quam iure, nemo beatae, quas asperiores reiciendis adipisci
                debitis. Ex dolorum iusto nihil praesentium magnam beatae asperiores reprehenderit tempora, sequi nam
                fuga, laudantium repellendus quas. Fugit soluta praesentium vel porro nostrum, sit, facilis tenetur
                exercitationem a, quo hic blanditiis ducimus labore molestiae alias veniam qui facere cum consectetur
                quis itaque sunt officia? Modi, quidem officiis.
            </p>
            <p>
            <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>. Quaerat architecto laboriosam unde
            aspernatur
            suscipit, eaque nesciunt natus rem quibusdam ratione vero neque iusto ab perspiciatis est, corrupti
            accusamus ipsum velit quos fuga error? Aperiam, provident fuga asperiores enim unde accusantium, et
            veritatis suscipit velit obcaecati facilis adipisci laborum a. At, odio, voluptatem reprehenderit
            laborum vel tenetur adipisci ipsum doloribus, ut impedit repellendus facere. Eligendi obcaecati natus
            numquam voluptate modi, voluptatibus eius quisquam. Impedit nemo quod tempore placeat nam aut dolorum?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nostrum quis vel ea illo iure possimus
                veniam, aut maiores aliquam esse impedit magni dolore corporis modi,<br> ad quas, voluptatum similique!
            </p>
            <h2 class="monitored-text">video is monitored.Keep it
                clear </h2>
            <div class="action-container">
                <p class="start-chat">
                    Start Chatting</p>
                <div class="button-container">
                    <button class="action-button">
                        <a href="/text_chat">
                            Text Chat</a>
                    </button>
                    <button class="action-button">
                        <a href="/video_chat">
                            Video Chat</a>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
integrity="sha256-op6HI9Z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8"crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>

</html>